.content {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 2rem 4rem;
  gap: 12rem;
  position: relative;
  min-height: calc(100vh - var(--navbar-height));
}

.article {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.lastest {
  grid-column: 2 / 3;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.lastestIcon {
  width: 64px;
  height: 64px;
  position: relative;
}

.return {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  border: 1.5px solid black;
  padding: 0.75rem 3rem;
  border-radius: 8px;
  transition: all 0.275s;
  background-color: transparent;
}

.return:hover {
  background-color: rgba(0, 0, 0);
  color: #eeee;
  border-color: #eeee;
}

.lastestArts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  cursor: default;
  user-select: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(40, 40, 40);
  padding: 1rem;
  gap: 1rem;
  user-select: none;
  cursor: default;
}

.footer span {
  font-size: 20px;
  color: rgb(0, 179, 19);
  font-weight: 600;
}

.footer strong {
  font-size: 16px;
  color: #eeee;
  font-weight: 400;
}

.footer p {
  font-size: 12px;
  color: #eeee;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  .content {
    padding: 2rem 3rem;
    gap: 8rem;
  }
}

@media screen and (max-width: 940px) {
  .return {
    font-size: 14px;
    padding: 0.75rem 2rem;
  }
  .title {
    font-size: 18px;
  }
  .lastest {
    width: 175px;
    gap: 1rem;
  }
  .article {
    gap: 1rem;
  }
}

@media screen and (max-width: 880px) {
  .content {
    gap: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .content {
    padding: 1rem;
  }
}

@media screen and (max-width: 660px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .return {
    width: 75%;
    text-align: center;
  }
  .lastest {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .content {
    padding: 1rem;
  }
  .footer span {
    font-size: 16px;
  }

  .footer strong {
    font-size: 12px;
  }

  .footer p {
    font-size: 10px;
  }
}
