.faq {
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  width: 600px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  height: max-content;
  cursor: pointer;
}

.faq_question {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  padding-right: 80px;
  color: rgb(40, 40, 40);
  cursor: pointer;
  transition: all 0.45s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.faq_question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;

  background-image: url("../../assets/dropdownArrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.45s ease-in-out;
}

.faq_answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  font-size: 14px;
  color: rgb(40, 40, 40);
  transition: all 0.45s ease-in-out;
  cursor: pointer;
  user-select: none;
  cursor: pointer;
}

.open .faq_question {
  margin-bottom: 15px;
}

.open .faq_question::after {
  transform: translateY(-50%) rotate(180deg);
}

.open .faq_answer {
  max-height: 1000px;
  opacity: 1;
}

@media screen and (max-width: 775px) {
  .faq {
    width: 90%;
  }
}

@media screen and (max-width: 475px) {
  .faq {
    padding: 0.75rem;
  }
  .faq_question {
    font-size: 13px;
    font-weight: 500;
    padding-right: 20px;
  }
  .faq_answer {
    font-size: 10px;
  }
  .faq_question::after {
    width: 12px;
    height: 12px;
  }
}
