.footer_section {
  background-color: rgb(40, 40, 40);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0rem;
  justify-items: center;
  align-items: center;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgb(80, 80, 80);
  border: none;
}

.footer_first,
.footer_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer_first span,
.footer_second span {
  color: rgb(0, 179, 19);
  font-weight: 400;
  font-size: 16px;
  user-select: none;
  cursor: default;
}

.link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: #eeeeee;
}

.footer_second p {
  font-weight: 300;
  font-size: 14px;
  color: #eeeeee;
  user-select: none;
  cursor: default;
}
