.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  padding: 2rem;
  gap: 2rem;
  min-height: calc(100vh - 51px - var(--navbar-height));
  align-content: start;
}

.notfound {
  padding: 2rem 0;
  grid-column: 1 / 3;
  height: 100%;
  text-align: center;
}

.notfound span {
  font-weight: 600;
  font-size: 32px;
  color: rgb(0, 179, 19);
}

.notfound p {
  margin-top: 1rem;
  font-weight: 400;
  color: rgb(40, 40, 40);
  font-size: 18px;
}

.card {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 150px 1fr;
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  position: relative;
}

.card:hover {
  box-shadow: 0 0 1rem rgba(0, 179, 19, 0.25);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  position: absolute;
  grid-column: 1 / 2;
}

.loadingContainer span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(40, 40, 40, 0.3);
  border-radius: 50%;
  border-top-color: rgb(0, 179, 19);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.img {
  position: relative;
  height: 150px;
  width: 150px;
  grid-column: 1 / 2;
}

.info {
  grid-column: 2 / 3;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.text {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

.date {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.75;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 0 2rem 0;
}

.pagination p {
  font-weight: 500;
  font-size: 1rem;
}

.paginationBtn {
  border: none;
  outline: none;
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.paginationBtnImg {
  font-size: 1rem;
}

@media screen and (max-width: 1220px) {
  .content {
    padding: 1rem;
    gap: 1rem;
  }
  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .notfound {
    grid-column: 1 / 4;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 275px;
  }
  .img {
    width: 100%;
    height: 100%;
  }
  .info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    padding: 1rem;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    width: 100%;
    text-align: center;
  }

  .text {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
  }

  .date {
    font-size: 12px;
    font-weight: 400;
    color: white;
    opacity: 0.75;
  }
}

@media screen and (max-width: 850px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
  }
  .text {
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
  .title {
    font-size: 18px;
  }

  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 475px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
  .notfound {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .notfound span {
    font-size: 24px;
  }

  .notfound p {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 325px) {
  .title {
    font-size: 16px;
  }

  .text {
    font-size: 12px;
  }
}
