@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --navbar-height: 105px;
  --footer-height: 167px;
  --thumbnails-height: 272px;
  --input-border: rgba(255, 255, 255, 0.45);
  --input-border-focus: rgba(255, 255, 255, 0.95);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

*::-moz-selection {
  color: #ececec;
  background: rgba(0, 179, 19, 0.5);
}

*::selection {
  color: #ececec;
  background: rgba(0, 179, 19, 0.5);
}

html {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

body {
  background-color: #ececec;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 850px) {
  :root {
    --navbar-height: 65px;
    --footer-height: 112px;
    --thumbnails-height: 177px;
  }
}
