@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --navbar-height: 105px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  /*background-color: #eeeeee;*/
  background-image: linear-gradient(180deg, #cccccc, #eeeeee);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}
